
body {
  background-color: rgba(150, 200, 200, 0.5);
}
#body-wrapper {
  background-color: white;
  max-width: 650px;
  width: 95%;
  margin: 0 auto;
  padding: 10px 50px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  min-height: 600px;
}

@media all and (max-width: 500px){
  body {
    background-color: white;
  }
  #body-wrapper {
    width: 100%;
    padding: 5px;
  }
}

td{
  padding: 5px;
  padding-right: 20px;
}

thead{
  border-bottom: 1px solid black;
}

#navbar {
  padding: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid #55B;
}
#navbar a{
  margin-left: 10px;
  color: #55B; 
}

a {
  cursor: pointer;
}