<template name="about">
  <h2 align="center">About</h2>
  <p>I want to build a game platform that allows people to look back and analyze their thought process. To keep it simple, let's play on a checkerboard.</p>
  <div align='center'>
    <a class='btn btn-primary' id='new-game-btn'>Start a New Game</a>
  </div>
  <br/>
  <p>If you want to play some other people, join a game below:</p>
  <table align='center'>
    <thead>
      <td>Creator</td>
      <td>Game</td>
      <td>people</td>
      <!-- <td># people</td> -->
    </thead>
    {{#each unlockedGames}}
        <tr>
          <td>{{creatorName}}</td>
          <td>
            <a href="/game/{{_id}}">{{title}}</a>
          </td>
          <td>
            {{length activePlayers}}
          </td>
        </tr>
    {{/each}}
  </table>
    
</template>
